﻿@model Tickets.Models.Ticket

@{
    ViewData["Title"] = "Tickets";
}

<h1>Buy Ticket</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" >
            @if (Model.Id != 0)
            {
        <input type="hidden" asp-for="Id" />
        }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                   <div class="form-group">
                <label asp-for="@Model.PersonName" class="control-label"></label>
                <input asp-for="@Model.PersonName" class="form-control" />
                <span asp-validation-for="@Model.PersonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Email" class="control-label"></label>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Phone" class="control-label"></label>
                <input asp-for="@Model.Phone" class="form-control" />
                <span asp-validation-for="@Model.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.CreditCard" class="control-label"></label>
                <input asp-for="@Model.CreditCard" class="form-control" />
                <span asp-validation-for="@Model.CreditCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerfId" class="control-label"></label>
                <input asp-for="PerfId" class="form-control"  readonly/>
                <span asp-validation-for="PerfId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PerfName" class="control-label"></label>
                <input asp-for="@Model.PerfName" class="form-control"  readonly/>
                <span asp-validation-for="@Model.PerfName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PerfDate" class="control-label"></label>
                <input asp-for="@Model.PerfDate" class="form-control" readonly />
                <span asp-validation-for="@Model.PerfDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PerfPrice" class="control-label"></label>
                <input asp-for="@Model.PerfPrice" class="form-control" readonly />
                <span asp-validation-for="@Model.PerfPrice" class="text-danger"></span>
            </div>
@*            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsConfirmed" /> @Html.DisplayNameFor(model => model.IsConfirmed)
                </label>
            </div>*@
            <div class="form-group">
                <input type="submit" value=" Buy " class="btn btn-success form-control" asp-action="Create"  />
            </div>
        </form>
    </div>
</div>
@*asp-controller="PerfList"*@
<div>
    <a asp-action="Index" >Back to Performances</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
