﻿@model Tickets.Models.Ticket

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2"> 
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditCard)
        </dd> 
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsConfirmed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerfName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerfName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerfId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerfId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerfPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerfPrice)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerfDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerfDate)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
