﻿@model Tickets.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsConfirmed)
        </dd>
        <dt class = "col-sm-2">
           Name @*@Html.DisplayNameFor(model => model.PPerformanceName)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PPerformanceName.Name)
        </dd>
        <dt class = "col-sm-2">
           Id@* @Html.DisplayNameFor(model => model.PPerformanceId)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PPerformanceName.Id)
        </dd>
        <dt class = "col-sm-2">
            Price@*@Html.DisplayNameFor(model => model.PPerformancePrice)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PPerformanceName.Price)
        </dd>
        <dt class = "col-sm-2">
           Date@* @Html.DisplayNameFor(model => model.PPerformanceDate)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PPerformanceName.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
