﻿@model Tickets.Models.Ticket

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PersonName" class="control-label"></label>
                <input asp-for="PersonName" class="form-control" />
                <span asp-validation-for="PersonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCard" class="control-label"></label>
                <input asp-for="CreditCard" class="form-control" />
                <span asp-validation-for="CreditCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerfId" class="control-label"></label>
                @*<select asp-for="PerfId" class="form-control" asp-items="ViewBag.Tickets"></select>*@
                <input asp-for="PerfId" class="form-control" readonly/>
                <span asp-validation-for="PerfId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerfName" class="control-label"></label>
                <input asp-for="PerfName" class="form-control" readonly/>
                <span asp-validation-for="PerfName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerfDate" class="control-label"></label>
                <input asp-for="PerfDate" class="form-control" readonly/>
                <span asp-validation-for="PerfDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerfPrice" class="control-label"></label>
                <input asp-for="PerfPrice" class="form-control" readonly/>
                <span asp-validation-for="PerfPrice" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsConfirmed" /> @Html.DisplayNameFor(model => model.IsConfirmed)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
