﻿@model IEnumerable<Tickets.Models.Ticket>

@{
    ViewData["Title"] = "Index";
    
}

<h1>Recently bought tickets</h1>
 
<table class="table">
    <thead>
        <tr>
            <th>
                Person@*@Html.DisplayNameFor(model => model.PersonName)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsConfirmed)
            </th>
            <th>
                Name@*@Html.DisplayNameFor(model => model.PPerformanceName)*@
            </th>
            <th>
                Id @* @Html.DisplayNameFor(model => model.PPerformanceId)*@
            </th>
            <th>
                Price@*@Html.DisplayNameFor(model => model.PPerformancePrice)*@
            </th>
            <th>
                Date@*@Html.DisplayNameFor(model => model.PPerformanceDate)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PPerformanceName.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PPerformanceId.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PPerformancePrice.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PPerformanceDate.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Tickets" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-controller="Tickets" asp-route-id="@item.Id">Details</a> | 
                <a asp-action="Delete" asp-controller="Tickets" asp-route-id="@item.Id">Delete</a> |
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    function Delete(url) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: "DELETE",
                    url: url,
                    success: function (data) {
                        if (data.success) {
                            toastr.success(data.message);
                            dataTable.ajax.reload();
                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                });
            }
        });
</script>