﻿@model Tickets.Models.Admin

@{
    ViewData["Title"] = "Authorisation";
}

<h1>Authorisation</h1>

<h4>Admin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input name="login" asp-for="Login" class="form-control" />
                <span  asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input autocomplete="off" type="password" name="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-action="Create" type="submit" value="Log in" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back</a>
</div>

@section Scripts {
    <script src="~/js/authorisation.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
