﻿@model IEnumerable<Tickets.Models.Admin>

@{
    ViewData["Title"] = "Index";
}

<h1>Admin</h1>


<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <form >
        <div>
            <a asp-area="" asp-controller="Tickets" asp-action="Index" class="btn btn-success form-control">View Tickets</a>
        </div>
        <br />
        <div>
            <a class="btn btn-success form-control" asp-controller="Performances" asp-action="Index">Add Performances</a>
        </div>
    </form>
      
 
    </div>
