﻿@model IEnumerable<Tickets.Models.Performance>

@{
    ViewData["Title"] = "Index";
}


<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>*@
    <h1>Music Concerts</h1>

</div>
<div class="border container" style="padding:30px;">
    <div class="col-12 border p-3">
        <table iclass="table" id="DT_load1" border="1">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Venue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SeatsCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Info)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Venue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SeatsCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Info)
                        </td>
                        <td>
                            <a asp-action="Create" asp-controller="Tickets" asp-route-id="@item.Id">Buy</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
@section Scripts{
    <script src="~/js/customPList.js"></script>
}